@{
    ViewData["Title"] = "Home Page";
}

<div class="background-image"></div>
<button class="play-button" onclick="window.location.href='/Account/Login';">
    <i class="fas fa-play"></i>
</button>
