@{
    ViewData["Title"] = "Home Page";
}
<style>
    .background-image {
        background-image: url('/images/background/backgornd-main1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
</style>
<div class="background-image"></div>
<button class="play-button" onclick="window.location.href='/Account/Login';">
    <i class="fas fa-play"></i>
</button>
