@using DrawPicture.ViewModels;
@model ChangePasswordViewModel


@{
    ViewData["Title"] = "";
}
<div class="background-image"></div>
<div class="row d-flex align-items-center justify-content-center " style="margin-top:10%;">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Thay đổi mật khẩu</h2>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-@TempData["AlertType"]">
                @TempData["Message"]
            </div>
        }
        <form asp-action="ChangePassword" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <label asp-for="ConfimPassword" class="control-label"></label>
                <input asp-for="ConfimPassword" class="form-control" />
                <span asp-validation-for="ConfimPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <input type="submit" value="Thay đổi thông tin" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}