@using DrawPicture.ViewModels;
@model RegisterVM


@{
    ViewData["Title"] = "Register";
}
<div class="background-image"></div>
<div class="row d-flex align-items-center justify-content-center " style="margin-top:10%;">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Đăng ký</h2>
        <form asp-action="Register" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfimPassword" class="control-label"></label>
                <input asp-for="ConfimPassword" class="form-control" />
                <span asp-validation-for="ConfimPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-decoration-none float-start mt-2">Bạn đã có tài khoản ?</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Đăng ký" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}